<p id="notice"><%= notice %></p>

<h1>Admin Cases</h1>

<table>
  <thead>
    <tr>
      <th>Case</th>
      <th>Date</th>
      <th>Responses</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @admin_cases.each do |admin_case| %>
      <tr>
        <td><%= admin_case.id %></td>
        <td><%= admin_case.created_at %></td>
        <td><%= admin_case.messages.count %></td>
        <td><%= link_to 'Show', admin_case %></td>
        <td><%= link_to 'Edit', edit_admin_case_path(admin_case) %></td>
        <td><%= link_to 'Destroy', admin_case, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Case', new_admin_case_path %>
