<!DOCTYPE html>
<html>
  <head>
    <title>Contact Us!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav justify-content-end">
      <!-- active and disabled are also possible classes -->
      <%= link_to "contact us!", new_intake_path, class: 'nav-link' %>
      <%= link_to "intakes", admin_intakes_path, class: 'nav-link' %>
      <%= link_to "cases", admin_cases_path, class: 'nav-link' %>
      <%= link_to "sign in", "#", class: 'nav-link' %>
    </nav>
    <div id="notice" class="notice"><%= notice %></div>
    <div class=container>
    <%= yield %>
    </div>
  </body>
</html>
